
    <section>
      <div>{{section.settings.textArea | escape}}</div>
    </section>


{% schema %}
  {
    "name": "404 Main section",
    "settings": [{
		"type": "text",
        "id": "textArea",
		"default": "404 page section",
        "label": "Change text 404 page section"
	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
