<section>
  <div>Main 404</div>
</section>

{% schema %}
  {
    "name": "404 Main section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
